{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}
{%block navbar%}
{%endblock%}
{%block sidenav%}
{%endblock%}
{%block flash%}
{%endblock%}
{% block content %}
{% block styles %}
  {{super()}}
  <link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">
{% endblock %}
<div class="container mt-5 register">
<div class="row">
<div class="col-md-2"> </div>
<div class="col-md-8">
  {% for message in get_flashed_messages() %}
        <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
        </div>
  {% endfor %}
<h2 class="text-center">Register Clerk</h2>
{{wtf.quick_form(registration_form)}}
<p>Already registered? <a href="{{url_for('auth.login')}}">Sign in</a></p>
</div>
<div class="col-md-2"></div>
</div>
</div>

{% endblock%}