{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/merchant.css') }}">
{% endblock styles %}
{% block content %}
<div class="merchant-page">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>

      <div class="col-md-10">
        <h2>Clerks</h2>
        <div class="row d-flex flex-wrap-wrap admin-card">
          <div class="card col-md-5">
            <div class="card-body">
              <img class="rounded-circle account-img" src="{{ url_for('static', filename='img/default.jpg') }}" alt="">
              <h4><a href="{{ url_for('merchant.clerk_name') }}">Tony Nyadundo</a></h4>
            </div>
          </div>
          <div class="card col-md-5">
            <div class="card-body">
              <img class="rounded-circle account-img" src="{{ url_for('static', filename='img/default.jpg') }}" alt="">
              <h4><a href="{{ url_for('merchant.clerk_name') }}">Tony Nyadundo</a></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}