{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/merchant.css') }}">
{% endblock styles %}
{%block navlinks%}
<li class="nav-item">
  <a class="nav-link active" href="">
    <i class="fas fa-columns"></i>
    Dashboard <span class="sr-only">(current)</span>
  </a>
</li>
<li class="nav-item">
  <a class="nav-link active" href="{{ url_for('merchant.clerks') }}">
    <i class="fas fa-columns"></i>
    Employees <span class="sr-only">(current)</span>
  </a>
</li>
<li class="nav-item">
  <a class="nav-link active" href="{{ url_for('merchant.stores') }}">
    <i class="fas fa-columns"></i>
    Stores <span class="sr-only">(current)</span>
  </a>
</li>
<li class="nav-item">
  <a class="nav-link active" href="#">
    <i class="fas fa-columns"></i>
    Dashboard <span class="sr-only">(current)</span>
  </a>
</li>
<li class="nav-item">
  <a class="nav-link active" href="#">
    <i class="fas fa-columns"></i>
    Dashboard <span class="sr-only">(current)</span>
  </a>
</li>
{%endblock%}
{% block content %}
<div class="merchant-page">
  <div class="container">
    <div class="btn-group dropright">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Clerks
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="{{ url_for('merchant.clerks') }}">Clerks</a>
        <a class="dropdown-item" href="{{ url_for('merchant.register') }}">New Employee</a>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <img class="rounded-circle account-img" src="{{ url_for('static', filename='img/default.jpg') }}" alt="">
            <h6><a href="{{ url_for('merchant.clerk_name') }}">Tony Nyadundo</a></h6>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <img class="rounded-circle account-img" src="{{ url_for('static', filename='img/default.jpg') }}" alt="">
            <h6><a href="{{ url_for('merchant.clerk_name') }}">Tony Nyadundo</a></h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}