<div class="row">
    <div class="col-lg-12">
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-bar-chart"></i> ORDERS</div>
            <div class="card-body">
                <div class="row">
                    <!-- Example DataTables Card-->
                    <div class="col-lg-12">
                        <div class="card mb-3">
                            <div class="card-header">
                                <i class="fa fa-table"></i> Purchase Orders</div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%"
                                        cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Order ID</th>
                                                <th>Amount</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <td>PO001</td>
                                                <td>Ksh 20000</td>
                                                <td><button class="btn-info">Pending</button></td>
                                            </tr>
                                        </tfoot>
                                        <tfoot>
                                            <tr>
                                                <td>PO002</td>
                                                <td>Ksh 20600</td>
                                                <td><button class="btn-success">Approved</button></td>
                                            </tr>
                                        </tfoot>
                                        <tfoot>
                                            <tr>
                                                <td>PO004</td>
                                                <td>Ksh 45000</td>
                                                <td><button class="btn-success">Approved</button></td>
                                            </tr>
                                        </tfoot>
                                        <tfoot>
                                            <tr>
                                                <td>PO005</td>
                                                <td>Ksh 40000</td>
                                                <td><button class="btn-success">Approved</button></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>
    </div>
</div>