{% extends 'base.html' %}

{%block navlinks%}
<li class="nav-item">
  <a class="nav-link" href="{{url_for('merchant.index')}}">
    <i class="fas fa-columns"></i>
    Dashboard
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{url_for('merchant.clerks')}}">
    <i class="fas fa-columns"></i>
    Clerks
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{url_for('merchant.stores')}}">
    <i class="fas fa-columns"></i>
    Store Reports
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="">
    <i class="fas fa-columns"></i>
    Products Requests
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="">
    <i class="fas fa-columns"></i>
    Orders Payment Status
  </a>
</li>

{%endblock%}
{% block content %}
<div class="container">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      Stores
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="{{ url_for('merchant.store_reports',store_name='westgate') }}">Westgate Shop</a>
    </div>
  </div>
</div>
{% endblock %}