
.homepage{
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("../imgs/bg.jpg")no-repeat center center;
  background-size: cover;
  min-height: 90vh;
  width: 100%;
  overflow: hidden;
  display: block;
  font-size: 100%;

}
