html {
    position: relative;
    min-height: 100%;
  }
  
  body {
    overflow-x: hidden;
    background-color: #ddd6d6;
  }
  
  
  @media (min-width: 576px) {
    .card-columns {
      column-count: 1;
    }
  }
  
  @media (min-width: 768px) {
    .card-columns {
      column-count: 2;
    }
  }
  
  @media (min-width: 1200px) {
    .card-columns {
      column-count: 2;
    }
  }
  
  .card-login {
    max-width: 25rem;
  }
  
  .card-register {
    max-width: 40rem;
  }
  
  footer.sticky-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 56px;
    background-color: #e9ecef;
    line-height: 55px;
  }
  
  @media (min-width: 992px) {
    footer.sticky-footer {
      width: calc(100% - 250px);
    }
  }
  
  @media (min-width: 992px) {
    body.sidenav-toggled footer.sticky-footer {
      width: calc(100% - 55px);
    }
  }