{% extends 'base.html' %}
{% block styles %}
{{super()}}
<link href="{{ url_for('static', filename='css/homepage.css') }}" rel="stylesheet">
{% endblock %}

{%block sidenav%}
{%endblock%}

{% block content %}
<div class="homepage text-center">

  <a href="{{url_for('auth.login')}}"><button type="button" class="btn btn-primary text-center">Sign in as Merchant</button></a>
  <a href="{{url_for('auth.login')}}"><button  type="button" class="btn btn-primary text-center">Sign in as Clerk</button></a>
</div>
{%endblock%}